{% extends "!breadcrumbs.html" %}

{% block breadcrumbs_aside %}
  <li class="wy-breadcrumbs-aside">
        <a href="https://salsa.debian.org/debconf-video-team/docs/blob/master/{{ pagename }}.rst" class="fa fa-gitlab"> {{ _('Edit on GitLab') }}</a>
  </li>
{% endblock %}
