<h1>Mini-DebConf Live Stream</h1>

<p>During Debian mini-conferences, you can watch the live stream here.</p>

<h2>Webplayer</h2>

<div class="videocontent">
  <video id="video" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls>
    <source src="https://local.live.debconf.org/live/minidebconf.m3u8" type='application/x-mpegURL' label='High'>
  </video>
</div>

<h2>Other ways to watch the live stream</h2>

<p>vlc, mplayer, and mpv understand HLS streaming. Use the URL <code class="video-url">https://local.live.debconf.org/live/minidebconf.m3u8</code>.</p>

<p>To force the quality of the stream, use one of the following URLs:
    <ul>
        <li>1280x720 (2 Mbps bitrate): <code class="video-url">https://local.live.debconf.org/live/minidebconf_src.m3u8</code></li>
        <li>900x506 (1 Mbps bitrate): <code class="video-url">https://local.live.debconf.org/live/minidebconf_high.m3u8</code></li>
        <li>720x404 (440 kbps bitrate): <code class="video-url">https://local.live.debconf.org/live/minidebconf_mid.m3u8</code></li>
        <li>480x270 (280 kbps bitrate): <code class="video-url">https://local.live.debconf.org/live/minidebconf_low.m3u8</code></li>
    </ul>
</p>
